.app-wrapper {
    text-align: center;
    margin-left: 8px;
    margin-right: 8px;
}
.app-content {
    display: inline-block;
    text-align: left;
    width: 580px;
}
.app-wrapper .app-content input.secret {
    width: 250px;
}

.buttons {
    margin-left: 8px;
}

.feedback {
    width: 540px;
    border-radius: 3px;
    min-height: 20px;
    padding-left: 3px;
    margin-top: 8px;
    margin-bottom: 8px;
}

.encrypted {
    min-height: 120px;
}

.decrypted {
    min-height: 120px;
    resize: none;
}